main {
	display: grid;
	grid-template-areas: 	"text gap onSide";

	grid-template-columns: 	2fr 30px 1.2fr;
	grid-template-rows: 	auto;
}

.info {
	grid-area: text;
	/*width: 72%;*/
	margin: 0px auto;
}

.blau {
	grid-area: onSide;
	align-self: start;
	margin-top: 110px;
	background-color: #258DD3;
	padding: 20px;
	margin: 0px auto;
}

.blautext {
	color: #FFF;
}
.blautext a {
	color: #FFF;
	border: none;
	font-size: 16px;
	font-family: Source Sans Pro;
	font-weight: 400;
}
.blautext a:hover {
	text-decoration: underline;
}